
/*	-----------------------------------------------

	Demo Styles

	----------------------------------------------- */

p, ul, ol, dl, table {
	width: 80%;
	margin: 1.5em auto;
}
ul, ol, dl {
	text-align: left;
}
p.half, ul.half, ol.half, dl.half {
	width: 50%;
}

#content {
	padding: 0 20px 20px 20px;
	text-align: center;
}

#content > header,
#content > footer,
#content > section {
	position: relative;
}

footer.bottom {
	height: 666px;
	background: #eee;
}

.scene {
	min-height: 666px;
}
.scene-100vh {
	min-height: calc(100vh - 40px);
}

.spacer {
	height: 100px;
}

.centered-block {
	width: 80%;
	min-width: 320px;
	min-height: 200px;
	background: #efefef;
	margin: 0 10%;
	padding: 20px;
	position: absolute;
	top: calc(50% - 200px);
}

.hr {
	height: 1px;
	background: #eee;
}

.box {
	width: 100px;
	height: 100px;
	background: #999;
	border-radius: 5px;
	margin: 0 auto;
	padding: 40px 10px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}



